.mat-sort-header-container {
    display: flex;
    justify-content: center;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    text-align: center !important;
}

.mat-cell {
    text-align: center;
}
.mat-icon.mat-accent {
    color: #3f51b5bf;
}
